</br>
<div class="row d-flex justify-content-around">
  <!-- Pic -->
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <img class="img-responsive center-block" src="{{product.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>

  <!-- description -->
  <div class="col-md-4">
    <ul class="list-unstyled">
      <h3>
        <li><strong>{{product.name}}</strong></li>
      </h3>

      <li><strong>Category: </strong> {{product.Category.name}}</li>

      <h2>
        <li><strong>Price: </strong> {{product.price}}</li>
        </br>

        <li><strong>QTY: </strong> {{product.quantity}}</li>
        </br>

        <li><strong>Description:</strong></li>
      </h2>

      <p>{{product.description}}</p>

    </ul>
  </div>

  <div class="col-md-1"></div>

</div>

<br />
<br />
<a href="/admin/products">Back</a>