<head>
  <link rel="stylesheet" href="/css/admin_product.css">
</head>

<div class="wrapper col-md-12">
  <div class="">
    <main class="main">

      <!-- Image -->
      <div class="main__image">
        <img class="main__image img-responsive center-block"
          src="https://loremflickr.com/320/240/electricvehicle?random=51" style="width: 350px;">
      </div>

      <!-- Productinfo -->
      <div class="productinfo">
        <!-- 1. Name -->
        <div class="productinfo__name">
          {{product.name}}
        </div>

        <!-- 2. Category -->
        <div class="productinfo__category">
          {{product.Category.name}}
        </div>

        <!-- 3. Price -->
        <div class="productinfo__price">
          NT$ {{product.price}}
        </div>

        <!-- 4. 庫存 Stock (QTY) -->
        <div class="productinfo__stock">
          Stock: {{product.quantity}}
        </div>

      </div>


    </main>

    <!-- Description -->
    <div class="description">
      <div class="description--title">
        <hr>
        DESCRIPTION
      </div>

      <p class="description--content">{{product.description}}</p>

      <div class="description--back">
        <a href="/admin/products">Back</a>
      </div>
    </div>
  </div>

</div>

</div>