</br>
<div class="row d-flex justify-content-around">
  <!-- Pic -->
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <img class="img-responsive center-block" src="{{product.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>

  <!-- description -->
  <div class="col-md-4">
    <ul class="list-unstyled">
      <h2>{{product.name}}</h2>
      <p> {{product.Category.name}} </p>
      <li><strong>Price: </strong> {{product.price}}</li>

      <li><strong>Description:</strong></li>
      <p>{{product.description}}</p>

    </ul>
  </div>

  <div class="col-md-1"></div>

</div>

<br />
<br />
<a href="javascript:history.back()">Back</a>