<div class="right content-page" ng-class="{'mobile-content':navOpen}">
  <div class="body content rows scroll-y" ui-scrollfix-target="">
    <div class="ng-view-wraper ng-scope"
      ng-class="{'trial-plan-info': mainConfig.currentSubscription &amp;&amp; isTrialPlan &amp;&amp; remainingDays > 0 &amp;&amp; !isCounterHidden &amp;&amp; !mainConfig.merchantData.has_basket_bill,
                        'paid-plan-info': mainConfig.currentSubscription &amp;&amp; !mainConfig.currentSubscription.is_recurring &amp;&amp; isPaidPlan &amp;&amp; remainingDays > 0 &amp;&amp; remainingDays < 31 &amp;&amp; !isCounterHidden &amp;&amp; !mainConfig.merchantData.has_basket_bill|| mainConfig.isShowBasketExpireReminder}"
      ng-view="" style="">
      <div ng-controller="ProductsController" class="ng-scope">
        <div class="row" ng-show="!loadingItems">
          <div class="col-sm-12">
            <!-- Begin sortable table hover -->
            <div class="box-info full">
              </br>
              <!-- Administration -->
              <div ng-show="!products.length &amp;&amp; scope == 'all'" class="text-center empty-message ng-binding"
                style="">
                <h2>Administration</h2>
              </div>

              <!-- Create New Products 按鈕 -->
              <div class="text-center d-flex justify-content-start">
                <a class="btn btn-primary" href="/admin/products/create" role="button">
                  Create New Products
                </a>
              </div>
              </br>

              <div ng-show="products" class="products-list-table-scroll" style="">
                <table class="table table-hover table-narrow-title products-list-table" style="font-size: 14px;">
                  <thead>
                    <tr style="font-size: 18px;">
                      <th class="ng-binding text-center">Category</th>
                      <th class="ng-binding text-center">Image</th>
                      <th class="ng-binding text-center">Name</th>
                      <th class="ng-binding text-center">Description</th>
                      <th class="ng-binding text-center">Price </br>(TWD/元)</th>
                      <th class="ng-binding text-center">QTY</th>
                      <th class="ng-binding text-center">createdAt</th>
                      <th class="ng-binding text-center">updatedAt</th>
                    </tr>
                  </thead>

                  <tbody>
                    <!-- #each products：遍歷每一個product，並印出 相關資訊、顯示、編輯、刪除的按鈕。 -->
                    {{#each products}}
                    <tr>
                      <td class="ng-binding text-center">{{this.Category.name}}</td>

                      <td class="ng-binding text-center">
                        <img class="img-responsive center-block" src="{{this.image}}"
                          style="width: 120px;margin-bottom: 25px;">
                      </td>

                      <td class="ng-binding text-center">{{this.name}}</td>
                      <!-- adminController.getRestaurants - include: Category -> 取得Category.name -->
                      <td class="ng-binding text-center">{{this.description}}</td>
                      <td class="ng-binding text-center">{{this.price}}</td>
                      <td class="ng-binding text-center">{{this.quantity}}</td>
                      <td class="ng-binding text-center">{{this.createdAt}}</td>
                      <td class="ng-binding text-center">{{this.updatedAt}}</td>

                      <td>
                        <!-- Detail/Show 按鈕 -->
                        <button type="button" class="btn btn-primary">
                          <a href="/admin/products/{{this.id}}">
                            Detail
                          </a>
                        </button>

                        <!-- Edit/Update 按鈕 -->
                        <button type="button" class="btn btn-success">
                          <a href="/admin/products/{{this.id}}/edit">
                            Edit
                          </a>
                        </button>

                        <!-- Delete 按鈕 -->
                        <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST"
                          style="display: inline;">
                          <button type="submit" class="btn btn-danger">
                            Delete
                          </button>
                        </form>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div><!-- End div .table-responsive -->
            </div><!-- End div .box-info .full -->
            <!-- End sortable table hover -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>