<!-- Navbar -->
<ul class="nav nav-pills">
  <!-- 1. All Products -->
  <li class="nav-item">
    <!-- categoryId 為空字串""，注意""中間不能有空格 -->
    <a class="nav-link {{#ifCond "" categoryId}}active{{/ifCond}}" href="/products?categoryId=">All Products</a>
  </li>

  <!-- 2. 迭代 categories -->
  {{#each categories}}
  <li class="nav-item">
    <!-- 代入 active 屬性：點擊 反藍底；參考 Bootstrap-Navs的Pills-->
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}" href="/products?categoryId={{this.id}}">
      {{this.name}}
    </a>
  </li>
  {{/each}}

  <li class="nav-item">
    <!-- 「全部」按鈕的情況，categoryId 會是空字串""，注意""中間不能有空格 -->
    <a class="nav-link" href="#">About Us</a>
  </li>
</ul>

<!-- Products -->
<div class="row">
  {{#each products}}
  <div class="col-md-4 mb-2 ">
    <div class="card d-flex justify-content-around mx-auto mb-5 p-3 border bg-light">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">

      <div class="card-body">
        <!-- Name -->
        <p class="card-text">
          <a href="/products/{{this.id}}">
            <strong>{{this.name}}</strong>
          </a>
        </p>

        <!-- Price -->
        <p class="card-text">
          <strong>Price:NT$ {{this.price}} </strong>
          </a>
        </p>

        <!-- Category -->
        <span class="badge badge-warning">
          {{this.categoryName}}
        </span>
        </br>
        </br>

        <div class="d-flex justify-content-around">
          <!-- Add to Cart -->
          <div class="btn-group">
            <form action="/cart" method="POST">
              <input type="hidden" name="productId" value="{{this.id}}">
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
          </div>

          <div class="btn-group">
            <!-- isLiked（1）：移除 Like -->
            <!-- this.id = productId -->
            {{#if this.isLiked}}
            <form action="/like/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">
                Remove from Wishlist
                <i class="fas fa-heart"></i>
              </button>
            </form>

            {{else}}
            <!-- isLiked（2）：加到 Like -->
            <!-- this.id = productId -->
            <form action="/like/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-danger">
                Add to Wishlist
                <i class="far fa-heart"></i>
              </button>
            </form>
            {{/if}}
          </div>

        </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>

<br />
<br />

<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class=" pagination">

    <!-- 1. prevPage「<<」 -->
    <li class="page-item">
      <a class="page-link" href="/products?page={{prevPage}}&categoryId={{categoryId}}" aria-label="Previous">
        <!-- &laquo：HTML entity 字符實體，顯示圖案「<<」 -->
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <!-- 3. #each：render totalPage 所有分頁數字按鈕 -->
    <!-- const totalPage = Array.from'"length:"maxPages"'.map'"item, index" => index + 1"'-->
    {{#each totalPage}}

    <!-- this：指向 each of totalPage -->
    <!-- const thePage = Number"req.query.page" || 1 -->
    {{#ifCond this ../thePage}}
    <!-- 代入 active 屬性：點擊會 反藍底 -->
    <li class="page-item active">
      <a class="page-link" href="#">{{this}}</a>
    </li>

    <!-- 注意：即使 this ≠ ../thePage，只是無 "active反藍底"，仍照常跑完 each of totalPage -->
    {{else}}
    <li class="page-item">
      <!-- ../categoryId：脫離本層totalPage"this"，往上層 -->
      <a class="page-link" href="/products?page={{this}}&categoryId={{../categoryId}}">{{this}}</a>
    </li>
    {{/ifCond}}

    {{/each}}

    <!-- 2. nextPage「>>」 -->
    <li class="page-item">
      <a class="page-link" href="/products?page={{nextPage}}&categoryId={{categoryId}}" aria-label="Next">
        <!-- &raquo：顯示圖案「>>」，HTML entity 字符實體 -->
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>